# CA certificate of OpenVPN and PPP-over-TLS tunnels.
#
# The private key of this certificate should be kept safe
# by testbed administrators.
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
