# Private key of client certificate for OpenVPN and PPP-over-TLS tunnels.
#
# Everyone with access to a node may have access to it,
# so avoid using it for other purposes.
-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
