# Client certificate for OpenVPN and PPP-over-TLS tunnels.
#
# This identity should not be considered safe since
# everyone with access to a node may have access to the private key,
# so avoid using it for other purposes.
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
