# Private SSH key PPP over SSH tunnel access.
#
# This key should not be considered safe since
# everyone with access to a node may have access to it,
# so avoid using it for other purposes.
-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----
