# Keys of the hosts we may need to contact.
#
# You should add all addresses and all keys of
# all servers you plan to contact via SSH using scripts,
# since otherwise they may fail when trying to validate the server's SSH key.

SERVER1_PUBLIC_IPv4_ADDR,SERVER1_PUBLIC_IPv6_ADDR,SERVER1_CJDNS_ADDR,SERVER1_ONIONCAT_ADDR,SERVER1_OPENVPN_ADDR,SERVER1_PPPSSH_ADDR,SERVER1_PPPTLS_ADDR ssh-dss SERVER1_DSS_PUBLIC_KEY root@server1
SERVER1_PUBLIC_IPv4_ADDR,SERVER1_PUBLIC_IPv6_ADDR,SERVER1_CJDNS_ADDR,SERVER1_ONIONCAT_ADDR,SERVER1_OPENVPN_ADDR,SERVER1_PPPSSH_ADDR,SERVER1_PPPTLS_ADDR ecdsa-sha2-nistp256 SERVER1_ECDSA_PUBLIC_KEY root@server1
SERVER1_PUBLIC_IPv4_ADDR,SERVER1_PUBLIC_IPv6_ADDR,SERVER1_CJDNS_ADDR,SERVER1_ONIONCAT_ADDR,SERVER1_OPENVPN_ADDR,SERVER1_PPPSSH_ADDR,SERVER1_PPPTLS_ADDR ssh-ed25519 SERVER1_EdDSA_PUBLIC_KEY root@server1
SERVER1_PUBLIC_IPv4_ADDR,SERVER1_PUBLIC_IPv6_ADDR,SERVER1_CJDNS_ADDR,SERVER1_ONIONCAT_ADDR,SERVER1_OPENVPN_ADDR,SERVER1_PPPSSH_ADDR,SERVER1_PPPTLS_ADDR ssh-rsa SERVER1_RSA_PUBLIC_KEY root@server1

SERVER2_PUBLIC_IPv4_ADDR,SERVER2_PUBLIC_IPv6_ADDR,SERVER2_CJDNS_ADDR,SERVER2_ONIONCAT_ADDR,SERVER2_OPENVPN_ADDR,SERVER2_PPPSSH_ADDR,SERVER2_PPPTLS_ADDR ssh-dss SERVER2_DSS_PUBLIC_KEY root@server2
SERVER2_PUBLIC_IPv4_ADDR,SERVER2_PUBLIC_IPv6_ADDR,SERVER2_CJDNS_ADDR,SERVER2_ONIONCAT_ADDR,SERVER2_OPENVPN_ADDR,SERVER2_PPPSSH_ADDR,SERVER2_PPPTLS_ADDR ecdsa-sha2-nistp256 SERVER2_ECDSA_PUBLIC_KEY root@server2
SERVER2_PUBLIC_IPv4_ADDR,SERVER2_PUBLIC_IPv6_ADDR,SERVER2_CJDNS_ADDR,SERVER2_ONIONCAT_ADDR,SERVER2_OPENVPN_ADDR,SERVER2_PPPSSH_ADDR,SERVER2_PPPTLS_ADDR ssh-ed25519 SERVER2_EdDSA_PUBLIC_KEY root@server2
SERVER2_PUBLIC_IPv4_ADDR,SERVER2_PUBLIC_IPv6_ADDR,SERVER2_CJDNS_ADDR,SERVER2_ONIONCAT_ADDR,SERVER2_OPENVPN_ADDR,SERVER2_PPPSSH_ADDR,SERVER2_PPPTLS_ADDR ssh-rsa SERVER2_RSA_PUBLIC_KEY root@server2
