# Per-testbed parameters, please make sure to **REPLACE ALL VALUES WITH YOUR OWN**
# to avoid behaving like other testbeds.
# Also avoid publishing them
# to avoid giving away information that would ease blocking external resources.

# Set to true to put the testbed in dormant state,
# where minimal VPN connectivity is provided
# and the execution of tests is disabled.
# Nodes still report and run the maintenance script periodically.
dormant: false

# When to run the different OONI-based tests.
op_schedule:
  # This test will run at the given *local* times.
  peer_http_reachable:
    hour: "3,11,19"  # exact hours, 8 hours apart here
    minute: 42  # exact minute
  # This test will run at the same UTC time in all nodes (if their clock is on time).
  p2p_bittorrent:
    fixed_utc: '2332'  # at 23:32 UTC
    minute: "02,17,32,47"  # the minutes above and +15, +30, +45 minutes (MOD 60)
  # This test will run at the given *local* times.
  nat_detection:
    hour: "5,13,21"  # exact hours, 8 hours apart here
    minute: 23  # exact minute

# URLs which just report the visiting IP address as text.
ip4_guessing_url: ['https://myipaddress.example/', 'http://whoami.example/']

# The port where the OONI collector listens (hopefully over some VPN or tunnel).
tnl_ooni_collector_port: 12345

# The IP+PORT where the OONI HTTP peer locator helper listens.
# This must be a clearnet or the reporting of peers will not work.
ooni_peerlocator_helper: ['192.0.2.1:56789']

# The IP+PORT where OONI NAT detection main remotes listen.
# At least two remotes with different IP addresses must be given.
ooni_natdet_main_remotes: ['192.0.2.1:12345', '192.0.2.20:54321']
# The IP+PORT where OONI NAT detection alternate remotes listen (may be empty).
# Try to include at least one with just a different port than a main remote
# and one with a different IP (but in both cases still handled by one of their helpers).
ooni_natdet_alt_remotes: ['192.0.2.1:12321', '192.0.2.21:13579']

# Optional Tor bridges to be used by nodes by default (see `Bridge` in `torrc(5)`).
tor_bridges:
  - fingerprint: 0123456789ABCDEFFEDCBA987654321001234567
    arguments:
      - cert=CERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCERTCE
      - iat-mode=0
    address: '192.0.2.2'
    transport: obfs4
    port: 34567
